{% extends "layout.html" %}
{% block content %}
    <div class="jumbo">
        <h2>Simple Dice Distributions<h2>
    </div>
    <form action="/add" method="post">
        Roll
        <input autocomplete="off" autofocus name="dice1" type="text" size="1"/>
        d
        <input autocomplete="off" autofocus name="dice2" type="text"size="1"/>
        
        <br>
        <br>
        Optionally: 
        <br>
        
        Reroll results equal to
        <input autocomplete="off" autofocus name="reroll_equal_to" placeholder="0" type="text"size="1"/>
        Ex, Great Weapon Fighting Style: 1,2)
        <br>
        
        Reroll the lowest 
        <input autocomplete="off" autofocus name="reroll_lowest" placeholder="0" type="text"size="1"/>
        dice (Ex. Empower Spell: Cha Mod)
        <br>
        
        Set the minimum outcome of each dice to 
        <input autocomplete="off" autofocus name="roll_min" placeholder="0" type="text"size="1"/>
        (Ex. Elemental Adept: 2)
        <br>
            
        Drop the lowest
        <input autocomplete="off" autofocus name="drop_lowest" placeholder="0" type="text"size="1"/>
        (Ex: 4d6 drop lowest for stats: 1)
        <br>
        
        <input type="submit" value="Add to Calculations"/>
        <br>
    </form>
    
        {% if conditions != [] and collecting%}
            Comparing:
            {% for details in conditions %}
                <br>
                {{ details[0] }}d{{ details[1] }} 
                {% if details[2] != [] %} and rerolled all {% for a in details[2] %}{{a}}s,{% endfor %} {% endif %}
                {% if details[3] != 0 %}, rerolled the lowest {{ details[3] }} {% endif %}
                {% if details[4] != 0 %} with the minimum at {{ details[4] }} {% endif %}
                {% if details[5] != 0 %} and dropped the lowest {{ details[5] }} {% endif %}
            {% endfor %}
        {% else %}
            No calculations
        {% endif %}

    <form action="/calculate" method="post">
        <input type="submit" value="Calculate"/>
    </form>

    <form action="/reset" method="post">
        <input type="submit" value="Reset Comparison Pool"/>
    </form>

        <br>
        <br>
        <br>

        {% if conditions != [] and not collecting %}
            Compared:
            {% for details in conditions %}
                <br>
                {{ details[0] }}d{{ details[1] }} 
                {% if details[2] != [] %} and rerolled all {% for a in details[2] %}{{a}}s,{% endfor %} {% endif %}
                {% if details[3] != 0 %}, rerolled the lowest {{ details[3] }} {% endif %}
                {% if details[4] != 0 %} with the minimum at {{ details[4] }} {% endif %}
                {% if details[5] != 0 %} and dropped the lowest {{ details[5] }} {% endif %}
            {% endfor %}
        {% endif %}
        <br>
        
        <img src="{{ imagepath }}">
        <br>

        {% for stat in stats %}  
    		<table class="centered thick-border">
    	        {% for k, v in stat.items() %}
    	            <tr>
    	                <td class="centered thin-border">{{ k }}</td>
    	                <td class="centered thin-border">{{ v }}</td>
    	            </tr>
    	        {% endfor %}
    		</table>
        {% endfor %}

{% endblock %}